Package: python-lb2120-tools
Section: Python
Priority: optional
Architecture: all
Essential: no
Maintainer: Paul Austen <pausten.os@gmail.com>
Description: Tools for use with a Netear LB2120 4G router.
Version: 1.1
